In [1]:
import pandas as pd

In [2]:
Dataset=pd.read_csv('kidney_disease.csv')

In [3]:
Dataset.head(10)

,id,age,bp,sg,al,su,rbc,pc,pcc,ba,...,pcv,wc,rc,htn,dm,cad,appet,pe,ane,classification
0,0,48.0,80.0,1.020,1.0,0.0,NaN,normal,notpresent,notpresent,...,44,7800,5.2,yes,yes,no,good,no,no,ckd
1,1,7.0,50.0,1.020,4.0,0.0,NaN,normal,notpresent,notpresent,...,38,6000,NaN,no,no,no,good,no,no,ckd
2,2,62.0,80.0,1.010,2.0,3.0,normal,normal,notpresent,notpresent,...,31,7500,NaN,no,yes,no,poor,no,yes,ckd
3,3,48.0,70.0,1.005,4.0,0.0,normal,abnormal,present,notpresent,...,32,6700,3.9,yes,no,no,poor,yes,yes,ckd
4,4,51.0,80.0,1.010,2.0,0.0,normal,normal,notpresent,notpresent,...,35,7300,4.6,no,no,no,good,no,no,ckd
5,5,60.0,90.0,1.015,3.0,0.0,NaN,NaN,notpresent,notpresent,...,39,7800,4.4,yes,yes,no,good,yes,no,ckd
6,6,68.0,70.0,1.010,0.0,0.0,NaN,normal,notpresent,notpresent,...,36,NaN,NaN,no,no,no,good,no,no,ckd
7,7,24.0,NaN,1.015,2.0,4.0,normal,abnormal,notpresent,notpresent,...,44,6900,5,no,yes,no,good,yes,no,ckd
8,8,52.0,100.0,1.015,3.0,0.0,normal,abnormal,present,notpresent,...,33,9600,4,yes,yes,no,good,no,yes,ckd
9,9,53.0,90.0,1.020,2.0,0.0,abnormal,abnormal,present,notpresent,...,29,12100,3.7,yes,yes,no,poor,no,yes,ckd

In [4]:
Dataset.isnull().sum()

id                  0
age                 9
bp                 12
sg                 47
al                 46
su                 49
rbc               152
pc                 65
pcc                 4
ba                  4
bgr                44
bu                 19
sc                 17
sod                87
pot                88
hemo               52
pcv                70
wc                105
rc                130
htn                 2
dm                  2
cad                 2
appet               1
pe                  1
ane                 1
classification      0
dtype: int64

In [5]:
quan=[]
qual=[]
for columnName in Dataset.columns:
    if(Dataset[columnName].dtype=='O'):
        qual.append(columnName)
    else:
        quan.append(columnName)

In [6]:
print(quan)

['id', 'age', 'bp', 'sg', 'al', 'su', 'bgr', 'bu', 'sc', 'sod', 'pot', 'hemo']

In [7]:
print(qual)

['rbc', 'pc', 'pcc', 'ba', 'pcv', 'wc', 'rc', 'htn', 'dm', 'cad', 'appet', 'pe', 'ane', 'classification']

In [8]:
def quanqual(Dataset):
    quan=[]
    qual=[]
    for columnName in Dataset.columns:
        if(Dataset[columnName].dtype=='O'):
            qual.append(columnName)
        else:
            quan.append(columnName)
    return quan,qual

In [9]:
quanqual(Dataset)

(['id',
  'age',
  'bp',
  'sg',
  'al',
  'su',
  'bgr',
  'bu',
  'sc',
  'sod',
  'pot',
  'hemo'],
 ['rbc',
  'pc',
  'pcc',
  'ba',
  'pcv',
  'wc',
  'rc',
  'htn',
  'dm',
  'cad',
  'appet',
  'pe',
  'ane',
  'classification'])

In [10]:
import numpy as np
from sklearn.impute import SimpleImputer
imp=SimpleImputer(missing_values=np.nan,strategy='mean')
imp.fit(Dataset[quan])
df=imp.transform(Dataset[quan])
df=pd.DataFrame(df,columns=quan)

In [11]:
df.isnull().sum()

id      0
age     0
bp      0
sg      0
al      0
su      0
bgr     0
bu      0
sc      0
sod     0
pot     0
hemo    0
dtype: int64

In [18]:
import numpy as np
from sklearn.impute import SimpleImputer
imp=SimpleImputer(missing_values=np.nan,strategy='most_frequent')
imp.fit(Dataset[qual])
df1=imp.transform(Dataset[qual])
df1=pd.DataFrame(df1,columns=qual)

In [19]:
df1.isnull().sum()

rbc               0
pc                0
pcc               0
ba                0
pcv               0
wc                0
rc                0
htn               0
dm                0
cad               0
appet             0
pe                0
ane               0
classification    0
dtype: int64

In [20]:
Data=[df,df1]

In [21]:
Data

[        id   age    bp     sg   al   su    bgr    bu   sc    sod  pot  hemo
 0      0.0  48.0  80.0  1.020  1.0  0.0  121.0  36.0  1.2  138.0  4.4  15.4
 1      1.0   7.0  50.0  1.020  4.0  0.0  121.0  18.0  0.8  138.0  4.4  11.3
 2      2.0  62.0  80.0  1.010  2.0  3.0  423.0  53.0  1.8  138.0  4.4   9.6
 3      3.0  48.0  70.0  1.005  4.0  0.0  117.0  56.0  3.8  111.0  2.5  11.2
 4      4.0  51.0  80.0  1.010  2.0  0.0  106.0  26.0  1.4  138.0  4.4  11.6
 ..     ...   ...   ...    ...  ...  ...    ...   ...  ...    ...  ...   ...
 395  395.0  55.0  80.0  1.020  0.0  0.0  140.0  49.0  0.5  150.0  4.9  15.7
 396  396.0  42.0  70.0  1.025  0.0  0.0   75.0  31.0  1.2  141.0  3.5  16.5
 397  397.0  12.0  80.0  1.020  0.0  0.0  100.0  26.0  0.6  137.0  4.4  15.8
 398  398.0  17.0  60.0  1.025  0.0  0.0  114.0  50.0  1.0  135.0  4.9  14.2
 399  399.0  58.0  80.0  1.025  0.0  0.0  131.0  18.0  1.1  141.0  3.5  15.8

 [400 rows x 12 columns],
         rbc        pc         pcc          ba pcv    wc   rc  htn   dm cad  \
 0    normal    normal  notpresent  notpresent  44  7800  5.2  yes  yes  no
 1    normal    normal  notpresent  notpresent  38  6000  5.2   no   no  no
 2    normal    normal  notpresent  notpresent  31  7500  5.2   no  yes  no
 3    normal  abnormal     present  notpresent  32  6700  3.9  yes   no  no
 4    normal    normal  notpresent  notpresent  35  7300  4.6   no   no  no
 ..      ...       ...         ...         ...  ..   ...  ...  ...  ...  ..
 395  normal    normal  notpresent  notpresent  47  6700  4.9   no   no  no
 396  normal    normal  notpresent  notpresent  54  7800  6.2   no   no  no
 397  normal    normal  notpresent  notpresent  49  6600  5.4   no   no  no
 398  normal    normal  notpresent  notpresent  51  7200  5.9   no   no  no
 399  normal    normal  notpresent  notpresent  53  6800  6.1   no   no  no

     appet   pe  ane classification
 0    good   no   no            ckd
 1    good   no   no            ckd
 2    poor   no  yes            ckd
 3    poor  yes  yes            ckd
 4    good   no   no            ckd
 ..    ...  ...  ...            ...
 395  good   no   no         notckd
 396  good   no   no         notckd
 397  good   no   no         notckd
 398  good   no   no         notckd
 399  good   no   no         notckd

 [400 rows x 14 columns]]

In [23]:
Dataset.to_csv('CKD.csv', index=False)